#CONFIG
# include $(EPICS_BASE)/configure/RULES

include $(TOP)/configure/E3/DEFINES_FT
include $(TOP)/configure/E3/RULES_PATCH
include $(TOP)/configure/E3/RULES_ETHERLAB



include $(TOP)/configure/E3/RULES_VARS
